.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

#user-form {
  width: 35rem;
  margin: 2rem 0;
}

#user-list {
  width: 35rem;
}