.button{
    border: 0;
    color: #fff;
    font-family: inherit;
    font-weight: 600;
    padding: 0.2rem 0.5rem;
    width: auto;
    background-color: rgb(138, 46, 223);
    margin: 0;
}

.button:hover{
    cursor: pointer;
}